# Python virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.bak
